{% extends "base_template.html" %}
{% block title %}<title>List</title>{% endblock %}
{%block content %}
<h1>Video List</h1>
{% if user.is_authenticated %}
{% for vid in vids %}
<table class="video_list">
    <tr>
        <td>
            <h2><strong>{{ vid.name }}</strong></h2>
        </td>
        <td>
            <a href="{% url 'video_crop_display' vid.id %}">Select Data</a>
        </td>
        <td>
            <a href="{% url 'delete_video' vid.id %}">Delete Video</a>
        </td>
    </tr>
</table>

{% empty %}
    <h2>No Videos Found</h2>
{% endfor %}

{% else %}
<p><a href="{% url 'profile' %}">You need to be logged in</a></p>
{% endif %}
  <p><a href="{% url 'index' %}">Return to home</a></p>
{% endblock %}